# dependencies (pnpm install)
node_modules

# credentials
.env
.env.*
!.env.example

# code coverage
coverage
*.lcov

# caches
.cache
.tmp
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
